# Caddyfile
:3001 {
    root * ./dist
    file_server
    
    handle_path /another_graph_editor/* {
        try_files {path}
    }

    handle {
        try_files /index.html
    }

    encode gzip
}